<!DOCTYPE html>
<html>
<head>
  <title>On My Tab</title>
  <meta charset='utf-8'>

  <meta http-equiv='Content-type' content='text/html; charset=utf-8'>

  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- jQuery -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js'></script>
  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <!-- Bootstrap JS -->
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
  <!-- On My Tab -->
  <link rel='stylesheet' type='text/css' href='/static/CSS/style.css'>

  <script src='/static/JS/script.js'></script>

  <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyAxW6mI3rFiz6445noXGmTEr0ZAESRcxxg'></script>

  <script src='//google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble.js'></script>

</head>
<body>










<!-- LOGGED IN DISPLAY BEGIN -->
<div class='logged-in col-sm-8'>



<!-- PROFILE CIRCLE BEGIN -->
<div class='center-block profilecircle' id='profile'><span id='profile-photo'></span></div>
<!-- PROFILE CIRCLE END -->




<div id='examples'>
  <button class='btn btn-primary center-block' id='bar-location' type='button'></button>
</div>


<!-- <form class='form' id='comment-form'>
            <input name='comment' type='text' class='form-control center-block' id='comment-input' placeholder='Comment: '>
            <input name='bar' type='text' class='form-control center-block hidden' id='bar-input'>
            <br>
            <button type='submit' class='btn btn-primary center-block'>Create</button>
          </form> -->


<!-- GOOGLE MAPS BEGIN -->
<div class='center-block nearbyBars' id='map'></div>
<!-- GOOGLE MAPS END -->





</div>
<!-- LOGGED IN DISPLAY END -->




<!-- GOOGLE MAPS COMMENTS SIDEBAR BEGIN-->
<nav class="navbar navbar-inverse col-sm-4" id='tabs-bar'>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img width='20' height='20' src='//s4.postimg.org/eligxlw5p/Martini_Logo.png'></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id='options-five'><a href="#">Nearby</a></li>
        <li id='back-profile'><a href="#">Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Options</a></li>
            <li role="separator" class="divider"></li>
            <li id='logout'><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>







<!-- GOOGLE MAPS SIDE PANEL -->
<div id='marker-panel-image'></div>
<div id='bar-panel-name'></div>
<div class='bar-panel-info'></div>
<!-- GOOGLE MAPS SIDE PANEL -->



<!-- PROFILE LOGGED IN SIDE PANEL-->
<div id='profile-panel-image'></div>
<div id='bar-profile-name'></div>
<div id='bar-profile-info'></div>
<!-- PROFILE LOGGED IN SIDE PANEL -->

<!-- GOOGLE MAPS INFORMATION PANEL -->
<div class="panel panel-primary" id='info-maps-head'>
  <div class="panel-heading">
    Information <span class='badge'></span>
  </div>
  <div class="panel-body">
    <div class='info-maps-bar'></div>
  </div>
</div>
<!-- GOOGLE MAPS INFORMATION PANEL

<!-- GOOGLE MAPS SIDE PANEL -->
<div class="panel panel-primary" id='comment-panel-head'>
  <div class="panel-heading">
    Comments <span class='badge'></span>
  </div>
  <div class="panel-body">
    <div class='comments-of-bar' id='scroll-bottom'></div>
    <form class='form' id='comment-maps-form'>
      <input name='comment' type='text' class='form-control center-block' id='comment-maps-input' placeholder='Comment: '>
      <input name='bar' type='text' class='form-control center-block hidden' id='bar-maps-input'>
      <button type='submit' class='btn btn-primary center-block' id='comment-maps-button'>Create</button>
    </form>
  </div>
</div>
<!-- GOOGLE MAPS SIDE PANEL -->

<!-- GOOGLE MAPS USER PANEL -->
<div class="panel panel-primary" id='messages-panel-head'>
  <div class="panel-heading">
    Messages <span class='badge'></span>
  </div>
  <div class="panel-body">
    <div class='messages-of-user' id='scroll-messages'></div>
    <form class='form' id='messages-maps-form'>
      <input name='message' type='text' class='form-control center-block' id='comment-maps-input' placeholder='Message: '>
      <input name='currentUser' type='text' class='form-control center-block hidden' id='user-maps-input'>
      <button type='submit' class='btn btn-primary center-block' id='messages-maps-button'>Send</button>
    </form>
  </div>
</div>




<!-- PROFILE  LOGGED IN INFORMATION PANEL -->
<div class="panel panel-primary" id='info-panel-head'>
  <div class="panel-heading">
    Information <span class='badge'></span>
  </div>
  <div class="panel-body">
    <div class='info-of-bar'></div>
  </div>
</div>
<!-- PROFILE LOGGED IN INFORMATION PANEL -->





<!-- PROFILE LOGGED IN SIDE PANEL -->
<div class="panel panel-primary" id='user-panel-head'>
  <div class="panel-heading">
    User Comments <span class='badge'></span>
  </div>
  <div class="panel-body">
    <div class='user-comments' id='scroll-to-bottom'></div>
    <form class='form' id='comment-profile-form'>
    <input name='comment' type='text' class='form-control center-block' id='comment-profile-input' placeholder='Comment: '>
    <input name='bar' type='text' class='form-control center-block hidden' id='bar-profile-input'>
    <button type='submit' class='btn btn-primary center-block' id='comment-profile-button'>Create</button>
  </form>
  </div>
</div>




</nav>
<!-- GOOGLE MAPS COMMENTS SIDEBAR END -->







<!-- NOT LOGGED IN DISPLAY BEGIN -->
<div class='not-logged-in'>




<!-- LOGO FOR START UP PAGE BEGIN -->
<div class='col-sm-8 startup'>
  <div class='center-block logocircle' id='logo'><span id='logo-photo'></span>
    <div class='options'>
      <div class='circles one' id='one'></div>
      <div class='circles two' id='two'></div>
      <div class='circles three' id='three'></div>
    </div>
  </div>
  <p id='welcome'>On My Tab</p>
</div>
<!-- LOGO FOR START UP PAGE END -->





<!-- FORM FOR SIGN UP BEGIN -->
<div class='col-sm-2 col-sm-offset-5'>
  <p id='signup'>Sign Up</p>
  <form class='form' id='new-profile-form'>
    <input name='email' type='text' class='form-control center-block' id='profile-email-input' placeholder='Email: '>
    <br>
    <input name='password' type='password' class='form-control center-block' id='profile-password-input' placeholder='Password: '>
    <br>
    <button type='submit' class='btn btn-primary center-block'>Create</button>
  </form>
</div>
<!-- FORM FOR SIGN UP END -->




<!-- INFORMATION ABOUT APP BEGIN -->
<div class='col-sm-4 col-sm-offset-4' id='info'>
  <p>Information</p>
  <div id='info-scroll'>Nam eu efficiantur voluptatibus, sed te alii vivendo, in cum minim vituperatoribus. Cu mea amet diam, nec an dicit audiam repudiandae. An alii similique cum, accusam delicata facilisis id has. No habeo theophrastus mea, per in tale cibo maiestatis. Atqui putant legimus mea eu, dolorum appareat oportere ad per, tollit omnesque percipit ex vim. Consequat deseruisse his at.
<br><br>
Vis et tale habeo liber, augue saepe fuisset ius id, mea in tation facete. Senserit constituam scriptorem mei ut, sit commune reformidans theophrastus cu. Cu ius vulputate scripserit. Nulla incorrupte vis ei, te vel case choro officiis. Enim oporteat ocurreret per at. Cu justo velit efficiendi nec, ea quando rationibus percipitur eos.
<br><br>
At lobortis recteque gubergren ius, ius eripuit aliquam pertinacia in. Facer impetus lucilius id pri, tempor dolorum suscipit id eum. Esse facete fastidii est an. Et consul torquatos adipiscing mei, unum deleniti apeirian ius cu. Has ex hinc consulatu forensibus, cum ullum fastidii et. Alii detraxit quo id, no pri quas illum theophrastus.
<br><br>
Nec dicant euismod petentium ex, stet labore concludaturque ne mei, an mea sale simul constituam. Mei ut exerci detracto lucilius, te dolore neglegentur pro. Vix ea habemus oporteat, commune sapientem sit ad. Ne pro eruditi atomorum.

Regione saperet ius ea, has zril choro clita cu. Habeo facer consetetur id vix. Numquam placerat consetetur eos eu, ad ius labores incorrupte. Ut mollis inciderint eos, vide volutpat nec et.

Paulo deseruisse te mel, tation persius explicari ei pri. Nam cu erant utamur, nam prima prompta volumus ex. Nec albucius moderatius ne. Ut mel eirmod inciderint. Per utinam accumsan similique in.
<br><br>
Nostrud qualisque comprehensam ea sed. Nec unum minim senserit ad, in iudicabit accommodare est, eam cu augue movet adipisci. Eum simul impetus ad, in erant invidunt vis, legimus corrumpit at nam. Eum ea congue adolescens, ea erat aeque disputationi sed, splendide mnesarchum ut est. At eam voluptua omittantur, te ius vitae probatus.

Mel nostrud iracundia ne, eum aeque graece ex. Mea ex dico libris sapientem, in vix sint altera corpora, ut vis maiestatis intellegam. Dicant offendit in usu, appareat delicatissimi vix ad. Cu mel verear impetus.
<br><br>
Omnis accusata sed ad. Cu his hinc dicat fabulas. Atomorum rationibus ad vis, eu quaestio constituto ius, eam duis feugiat interpretaris ea. Ad sit harum graeci.

No soleat dictas pro. Nam persius expetendis vituperata ea, ea persius bonorum inimicus usu, eos esse rebum aliquam an. Veniam omittam instructior in sit, at duo omnes iudicabit, quo ex oratio homero explicari. Alia saepe ius ut, et vis vivendo tractatos. Quod augue erroribus ex nam, per ut ipsum timeam dissentiet. Eu has aperiri oblique fierent, vide splendide ad per, cum id inimicus dignissim splendide.
      </div>
</div>
<!-- INFORMATION ABOUT APP END -->




<!-- LOGIN FORM BEGIN -->
<div class='col-sm-2 col-sm-offset-5'>
  <form class='form' id='form-login'>
  <p id='login'>Log In</p>
    <input name='email' type='text' class='form-control center-block' id='profile-email-input' placeholder='Email: '>
    <br>
    <input name='password' type='password' class='form-control center-block' id='profile-password-input' placeholder='Password: '>
    <br>
    <button type='submit' id='submit-login' class='btn btn-primary center-block'>Log In</button>
    </form>
</div>
<!-- LOGIN FORM END -->







</div>
<!-- NOT LOGGED IN DISPLAY END -->
  








<!-- SIMON SAYS GAME BEGIN -->
<div class='col-sm-8 simonsays'>
  <div class='game-board col-sm-4 col-sm-offset-4'>
    <div class='simon'>
      <ul>
        <li class='tile red' data-tile='1'></li>
        <li class='tile blue' data-tile='2'></li>
        <li class='tile yellow' data-tile='3'></li>
        <li class='tile green' data-tile='4'></li>
      </ul>
    </div>
  </div>
</div>

<div class='game-info'>
<button data-action='start' >Start</button>
<button id='return'>Return</button>
  <h2>Round: <span data-round='0'>0</span></h2>
  <p data-action='lose'>Sorry, you lost after <span data-round='0'></span> rounds!</p>
</div>

<div class='pad shape1' data-pad='1'>
  <audio preload='auto' class='sound1'>
    <source src='/sounds/mp3/sounds1.mp3' type='audio/mpeg'/>
    <source src='/sounds/ogg/sounds1.ogg' type='audio/ogg'/>
  </audio>
</div>

<div class='pad shape2' data-pad='2'>
  <audio preload='auto' class='sound2'>
    <source src='/sounds/mp3/sounds2.mp3'  type='audio/mpeg'/>
    <source src='/sounds/ogg/sounds2.ogg' type='audio/ogg'/>
  </audio>
</div>

<div class='pad shape3' data-pad='3'>
  <audio preload='auto' class='sound3'>
    <source src='/sounds/mp3/sounds3.mp3' type='audio/mpeg'/>
    <source src='/sounds/ogg/sounds3.ogg' type='audio/ogg'/>
  </audio>
</div>

<div class='pad shape4' data-pad='4'>
  <audio preload='auto' class='sound4'>
    <source src='/sounds/mp3/sounds4.mp3' type='audio/mpeg'/>
    <source src='/sounds/ogg/sounds4.ogg' type='audio/ogg'/>
  </audio>
</div>
<!-- SIMON SAYS GAME END -->

<!-- SCRIPT FOR SIMON SAYS GAME -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37765307-2', 'kellyking.me');
    ga('send', 'pageview');
  </script>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- SCRIPT FOR SIMON SAYS GAME -->

<footer class='col-sm-12 navbar-fixed-bottom'>

<div class='col-sm-2' id='foot'></div>
<div class='col-sm-2' id='footone'>On My Tab</div>
<div class='col-sm-2' id='foottwo'><img height='50' width='50' src='//imgur.com/fLaCFwU.png'></div>
<div class='col-sm-2' id='footthree'>Created By Isom Durm</div>
<div class="col-sm-2 fb-like" data-href="https://on-my-tab.herokuapp.com/" data-layout="standard" data-colorscheme='dark' data-action="like" data-show-faces="true" data-share="true"></div>
</footer>



</body>
</html>