<!DOCTYPE html>
<html>
<head>
  <title>On My Tab</title>
  <meta charset='utf-8'>

  <meta http-equiv='Content-type' content='text/html; charset=utf-8'>

  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- jQuery -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js'></script>
  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <!-- Bootstrap JS -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
  <!-- On My Tab -->
  <link rel='stylesheet' type='text/css' href='/static/CSS/style.css'>

  <script src='/static/JS/script.js'></script>

  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAxW6mI3rFiz6445noXGmTEr0ZAESRcxxg'></script>

  <script src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble.js'></script>

</head>
<body>










<!-- LOGGED IN DISPLAY BEGIN -->
<div class='logged-in col-sm-8'>



<!-- PROFILE CIRCLE BEGIN -->
<div class='center-block profilecircle' id='profile'><span id='profile-photo'></span></div>
<!-- PROFILE CIRCLE END -->




<div id='examples'>
  <button class='btn btn-primary center-block' id='bar-location' type='button'></button>
</div>


<!-- <form class='form' id='comment-form'>
            <input name='comment' type='text' class='form-control center-block' id='comment-input' placeholder='Comment: '>
            <input name='bar' type='text' class='form-control center-block hidden' id='bar-input'>
            <br>
            <button type='submit' class='btn btn-primary center-block'>Create</button>
          </form> -->


<!-- GOOGLE MAPS BEGIN -->
<div class='center-block nearbyBars' id='map'></div>
<!-- GOOGLE MAPS END -->





</div>
<!-- LOGGED IN DISPLAY END -->




<!-- GOOGLE MAPS COMMENTS SIDEBAR BEGIN-->
<nav class="navbar navbar-inverse col-sm-4" id='tabs-bar'>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img width='20' height='20' src='http://s4.postimg.org/eligxlw5p/Martini_Logo.png'></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id='options-five'><a href="#">Nearby</a></li>
        <li id='back-profile'><a href="#">Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li id='logout'><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>







<!-- GOOGLE MAPS SIDE PANEL -->
<div id='marker-panel-image'></div>
<div id='bar-panel-name'></div>
<div class='bar-panel-info'></div>
<!-- GOOGLE MAPS SIDE PANEL -->



<!-- PROFILE LOGGED IN SIDE PANEL-->
<div id='profile-panel-image'></div>
<div id='bar-profile-name'></div>
<div id='bar-profile-info'></div>
<!-- PROFILE LOGGED IN SIDE PANEL -->



<!-- GOOGLE MAPS SIDE PANEL -->
<div class="panel panel-primary" id='comment-panel-head'>
  <div class="panel-heading">
    Comments <span class='badge'></span>
  </div>
  <div class="panel-body">
    <div class='comments-of-bar'></div>
    <form class='form' id='comment-maps-form'>
      <input name='comment' type='text' class='form-control center-block' id='comment-maps-input' placeholder='Comment: '>
      <input name='bar' type='text' class='form-control center-block hidden' id='bar-maps-input'>
      <button type='submit' class='btn btn-primary center-block' id='comment-maps-button'>Create</button>
    </form>
  </div>
</div>
<!-- GOOGLE MAPS SIDE PANEL -->





<!-- PROFILE  LOGGED IN INFORMATION PANEL -->
<div class="panel panel-primary" id='info-panel-head'>
  <div class="panel-heading">
    Information <span class='badge'></span>
  </div>
  <div class="panel-body">
    <div class='info-of-bar'></div>
  </div>
</div>
<!-- PROFILE LOGGED IN INFORMATION PANEL -->





<!-- PROFILE LOGGED IN SIDE PANEL -->
<div class="panel panel-primary" id='user-panel-head'>
  <div class="panel-heading">
    User Comments <span class='badge'></span>
  </div>
  <div class="panel-body">
    <div class='user-comments'></div>
    <form class='form' id='comment-profile-form'>
    <input name='comment' type='text' class='form-control center-block' id='comment-profile-input' placeholder='Comment: '>
    <input name='bar' type='text' class='form-control center-block hidden' id='bar-profile-input'>
    <button type='submit' class='btn btn-primary center-block' id='comment-profile-button'>Create</button>
  </form>
  </div>
</div>




</nav>
<!-- GOOGLE MAPS COMMENTS SIDEBAR END -->







<!-- NOT LOGGED IN DISPLAY BEGIN -->
<div class='not-logged-in'>




<!-- LOGO FOR START UP PAGE BEGIN -->
<div class='col-sm-8 startup'>
  <div class='center-block logocircle' id='logo'><span id='logo-photo'></span>
    <div class='options'>
      <div class='circles one' id='one'></div>
      <div class='circles two' id='two'></div>
      <div class='circles three' id='three'></div>
    </div>
  </div>
  <p id='welcome'>On My Tab</p>
</div>
<!-- LOGO FOR START UP PAGE END -->





<!-- FORM FOR SIGN UP BEGIN -->
<div class='col-sm-4 col-sm-offset-4'>
  <p id='signup'>Sign Up</p>
  <form class='form' id='new-profile-form'>
    <input name='email' type='text' class='form-control center-block' id='profile-email-input' placeholder='Email: '>
    <input name='password' type='text' class='form-control center-block' id='profile-password-input' placeholder='Password: '>
    <br>
    <button type='submit' class='btn btn-primary center-block'>Create</button>
  </form>
</div>
<!-- FORM FOR SIGN UP END -->




<!-- INFORMATION ABOUT APP BEGIN -->
<div class='col-sm-4 col-sm-offset-4' id='info'>
  <p>Information</p>
  <span>ASDASdasdASDASDASDASDASD</span>
</div>
<!-- INFORMATION ABOUT APP END -->




<!-- LOGIN FORM BEGIN -->
<div class='col-sm-2 col-sm-offset-5'>
  <form class='form' id='form-login'>
  <p id='login'>Log In</p>
    <input name='email' type='text' class='form-control center-block' id='profile-email-input' placeholder='Email: '>
    <input name='password' type='text' class='form-control center-block' id='profile-password-input' placeholder='Password: '>
    <br>
    <button type='submit' id='submit-login' class='btn btn-primary center-block'>Log In</button>
    </form>
</div>
<!-- LOGIN FORM END -->







</div>
<!-- NOT LOGGED IN DISPLAY END -->
  








<!-- SIMON SAYS GAME BEGIN -->
<div class='col-sm-8 simonsays'>
  <div class='game-board col-sm-4 col-sm-offset-4'>
    <div class='simon'>
      <ul>
        <li class='tile red' data-tile='1'></li>
        <li class='tile blue' data-tile='2'></li>
        <li class='tile yellow' data-tile='3'></li>
        <li class='tile green' data-tile='4'></li>
      </ul>
    </div>
  </div>
</div>

<div class='game-info'>
<button data-action='start' >Start</button>
<button id='return'>Return</button>
  <h2>Round: <span data-round='0'>0</span></h2>
  <p data-action='lose'>Sorry, you lost after <span data-round='0'></span> rounds!</p>
</div>

<div class='pad shape1' data-pad='1'>
  <audio preload='auto' class='sound1'>
    <source src='/sounds/mp3/sounds1.mp3' type='audio/mpeg'/>
    <source src='/sounds/ogg/sounds1.ogg' type='audio/ogg'/>
  </audio>
</div>

<div class='pad shape2' data-pad='2'>
  <audio preload='auto' class='sound2'>
    <source src='/sounds/mp3/sounds2.mp3'  type='audio/mpeg'/>
    <source src='/sounds/ogg/sounds2.ogg' type='audio/ogg'/>
  </audio>
</div>

<div class='pad shape3' data-pad='3'>
  <audio preload='auto' class='sound3'>
    <source src='/sounds/mp3/sounds3.mp3' type='audio/mpeg'/>
    <source src='/sounds/ogg/sounds3.ogg' type='audio/ogg'/>
  </audio>
</div>

<div class='pad shape4' data-pad='4'>
  <audio preload='auto' class='sound4'>
    <source src='/sounds/mp3/sounds4.mp3' type='audio/mpeg'/>
    <source src='/sounds/ogg/sounds4.ogg' type='audio/ogg'/>
  </audio>
</div>
<!-- SIMON SAYS GAME END -->

<!-- SCRIPT FOR SIMON SAYS GAME -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37765307-2', 'kellyking.me');
    ga('send', 'pageview');

  </script>
<!-- SCRIPT FOR SIMON SAYS GAME -->

<footer class='col-sm-12 navbar-fixed-bottom'>

</footer>



</body>
</html>