<!DOCTYPE html>
<html>
<head>
  <title>On My Tab</title>
  <meta charset="utf-8">

  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- On My Tab -->
  <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">

  <script src="/static/JS/script.js"></script>

</head>
<body>

<!-- SIMON SAYS GAME -->
<div class='col-sm-12 simonsays'>
  <div class="game-board col-sm-4 col-sm-offset-4">
    <div class="simon">
      <ul>
        <li class="tile red" data-tile="1"></li>
        <li class="tile blue" data-tile="2"></li>
        <li class="tile yellow" data-tile="3"></li>
        <li class="tile green" data-tile="4"></li>
      </ul>
    </div>
  </div>
</div>

<div class="game-info">
<button data-action="start" >Start</button>
  <h2>Round: <span data-round="0">0</span></h2>
  <p data-action="lose">Sorry, you lost after <span data-round="0"></span> rounds!</p>
</div>

<div class="pad shape1" data-pad="1">
  <audio preload="auto" class="sound1">
    <source src="/sounds/mp3/sounds1.mp3" type="audio/mpeg"/>
    <source src="/sounds/ogg/sounds1.ogg" type="audio/ogg"/>
  </audio>
</div>

<div class="pad shape2" data-pad="2">
  <audio preload="auto" class="sound2">
    <source src="/sounds/mp3/sounds2.mp3"  type="audio/mpeg"/>
    <source src="/sounds/ogg/sounds2.ogg" type="audio/ogg"/>
  </audio>
</div>

<div class="pad shape3" data-pad="3">
  <audio preload="auto" class="sound3">
    <source src="/sounds/mp3/sounds3.mp3" type="audio/mpeg"/>
    <source src="/sounds/ogg/sounds3.ogg" type="audio/ogg"/>
  </audio>
</div>

<div class="pad shape4" data-pad="4">
  <audio preload="auto" class="sound4">
    <source src="/sounds/mp3/sounds4.mp3" type="audio/mpeg"/>
    <source src="/sounds/ogg/sounds4.ogg" type="audio/ogg"/>
  </audio>
</div>
<!-- SIMON SAYS GAME -->








<!-- LOGGED IN DISPLAY -->
<div class='logged-in'>





<!-- PROFILE CIRCLE -->
<div class='center-block profilecircle' id='profile'><span id='profile-photo'></span>
  <div class='profile-options'>
    <div class='options-one' id='logout'></div>
    <div class='options-two' id='messages'></div>
    <div class='options-three' id='settings'></div>
    <div class='options-four' id='users'></div>
    <div class='options-five' id='nearby'></div>
  </div>
</div>






<div class='location'>
<p id='lat'></p>
<p id='lon'></p>
<% for (var i=0; i<yelpResults.length; i++) { %>
<p><%= yelpResults[i].name %></p>
<% }; %>
</div>
<!-- PROFILE CIRCLE -->




</div>
<!-- LOGGED IN DISPLAY -->







<!-- NOT LOGGED IN DISPLAY -->
<div class='not-logged-in'>




<!-- LOGO FOR START UP PAGE -->
<div class='col-sm-12'>
<div class='center-block logocircle' id='logo'><span id='logo-photo'></span>
  <div class='options not-logged-in'>
    <div class='circles one' id='one'></div>
    <div class='circles two' id='two'></div>
    <div class='circles three' id='three'></div>
  </div>
</div>
<p id='welcome'>On My Tab</p>
</div>
<!-- LOGO FOR START UP PAGE -->

<!-- FORM FOR SIGN UP -->
<div class='col-sm-4 col-sm-offset-4'>
  <p id='signup'>Sign Up</p>
  <form class="form" id="new-profile-form">
    <input name='email' type='text' class='form-control center-block' id='profile-email-input' placeholder='Email: '>
    <input name='password' type='text' class='form-control center-block' id='profile-password-input' placeholder='Password: '>
    <br>
    <button type="submit" class="btn btn-primary center-block">Create</button>
  </form>
</div>
<!-- FORM FOR SIGN UP -->

<!-- INFORMATION ABOUT APP -->
<div class='col-sm-4 col-sm-offset-4' id='info'>
  <p>Information</p>
  <span>ASDASdasdASDASDASDASDASD</span>
</div>
<!-- INFORMATION ABOUT APP -->

<!-- LOGIN FORM -->
<div class='col-sm-2 col-sm-offset-5' id='form-login'>
  <p>Log In</p>
  <input name='username' type='text' class='form-control center-block' id='username-input' placeholder='User Name: '>
  <input name='password' type='text' class='form-control center-block' id='password-input' placeholder='Password: '>
  <br>
  <button type='submit' class='btn btn-primary center-block'>Log In</button>
</div>
<!-- LOGIN FORM -->





</div>
<!-- NOT LOGGED IN DISPLAY -->
  










<!-- SCRIPT FOR SIMON SAYS GAME -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37765307-2', 'kellyking.me');
    ga('send', 'pageview');

  </script>
<!-- SCRIPT FOR SIMON SAYS GAME -->





</body>
</html>