<!DOCTYPE html>
<html>
<head>
  <title>On My Tab</title>
  <meta charset="utf-8">

  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- On My Tab -->
  <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
  <script src="/static/JS/script.js"></script>
</head>
<body>




<!-- LOGO FOR START UP PAGE -->
<div class='col-sm-12'>
<div class='center-block logocircle' id='logo'><span id='logo-photo'></span>
  <div class='options'>
  <div class='circles one' id='one'></div>
  <div class='circles two' id='two'></div>
  <div class='circles three' id='three'></div>
  </div>
</div>
<p id='welcome'>On My Tab</p>
</div>
<!-- LOGO FOR START UP PAGE -->


<!-- FORM FOR SIGN UP -->
<div class='col-sm-2 col-sm-offset-5'>
  <p id='signup'>Sign Up</p>
  <form class="form" id="new-profile-form">
    <input name="name" type="text" class="form-control center-block" id="profile-name-input" placeholder="Name">
    <input name="age" type="text" class="form-control center-block" id="profile-age-input" placeholder="Age">
    <input name="url" type="text" class="form-control center-block" id="profile-url-input" placeholder="Image URL">
    <br>
    <button type="submit" class="btn btn-primary center-block" id="changepage">Create</button>
  </form>
</div>
<!-- FORM FOR SIGN UP -->



<!-- INFORMATION ABOUT APP -->
<div class='col-sm-4 col-sm-offset-4' id='info'>
  <p>Information</p>
  <span>ASDASdasdASDASDASDASDASD</span>
</div>
<!-- INFORMATION ABOUT APP -->



<!-- LOGIN -->
<div class='col-sm-2 col-sm-offset-5' id='form-login'>
  <p>Log In</p>
  <input name='username' type='text' class='form-control center-block' id='username-input' placeholder='User Name: '>
  <input name='password' type='text' class='form-control center-block' id='password-input' placeholder='Password: '>
</div>
<!-- LOGIN -->








</body>
</html>