body {
	background-color: rgb(30,30,30)
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-webkit-keyframes grow {
	0%	{ transform: scale(0);	}
	40%	{ transform: scale(1);	}
	75%	{ transform: scale(1.1);}
	100%{ transform: scale(1);	}
}

@-webkit-keyframes shrink {
	0%	{ transform: scale(1);	}
	25%	{ transform: scale(1.1);}
	55%	{ transform: scale(1);	}
	100%{ transform: scale(0);	}
}


/*ANIMATIONS*/
.grow {
	-webkit-animation: grow 3s;
}

.growcircles {
	-webkit-animation: grow 1s;
}

.shrink {
	-webkit-animation: shrink 3s;
}

.fadeIn {
	-webkit-animation: fadein 3s;
}

.fadeOut {
	-webkit-animation: fadeout 2s;
}

.hideForm {
	display: none;
}
/*ANIMATIONS*/



#logo {
	margin-top: 100px;
}

p {
	color: white;
	text-align: center;
	font-size: 30px;
}


/*PHOTO CLASSES*/
.photo-signup {
	background-image: url('http://wcdn3.dataknet.com/static/resources/icons/set32/21fbd649.png');
}

.photo-info {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Infobox_info_icon.svg/1024px-Infobox_info_icon.svg.png");
}

.photo-login {
	background-image: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/login.png');
}

.photo-logo {
	background-image: url('http://imgur.com/fLaCFwU.png');
}

.photo-messages {
	background-image: url('http://icons.iconarchive.com/icons/xenatt/the-circle/256/App-Messages-icon.png');
}
 
.photo-settings {
	background-image: url('http://www.anz.com/resources/5/1/51effbe1-70cb-4203-b8f2-c1555c306d46/4/settings.png?MOD=AJPERES&CACHEID=51effbe1-70cb-4203-b8f2-c1555c306d46/4');
}

.photo-logout {
	background-image: url('http://s16.postimg.org/mxe7m0ptx/Head_Profile.png');
}

.photo-user {
	background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAJ4AAAAJGJjZjVhM2FmLTIyZjUtNGE2ZS1iZWYyLWRiNWU1NzNhNDk1Nw.jpg');
}

.photo-users {
	background-image: url('https://cdn4.iconfinder.com/data/icons/silky-icon-user/60/users1-512.png');
}

.photo-nearbys {
	background-image: url('http://s8.postimg.org/vqrp6afzp/draft_512.png');
}


/*PHOTO CLASSES*/



/*BACKGROUND SIZE CLASSES*/
.background-white {
	background-color: white;
}

.background-size-one {
	background-size: 30px;
}

.background-size-two {
	background-size: 60px;
}

.background-size-three {
	background-size: 50px;
}

.background-size-four {
	background-size: 175px;
	background-repeat: no-repeat;
}

.background-size-logo {
	background-size: 250px;
}

/*BACKGROUND SIZE CLASSES*/




/*LOGGED IN DISPLAY*/

.nearbyBars {
	color: white;
	font-size: 20px;
}

.profilecircle {
	background-repeat: none;
	height: 250px;
	width: 250px;
	background-position: center;
	background-size: 250px;
	border-radius: 125px;
	border: solid 4px white;
	margin-top: 100px;
}

.options-one {
	bottom: 10px;
	right: 20px;
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	border-radius: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px;
	border: solid white 3px;

}

#map {
	height: 500px;
	width: 500px;
	border-radius: 250px;
}

#marker-content {
	color: black;
	font-size: 15px;
}

.infoWindow {
	background-color: darkblue;
}

#marker-photos {
	height: 100px;
	width: 100px;
	background-position: center;
}

.options-two {
	bottom: 60px;
	left: 40px;
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	border-radius: 25px;
	background-size: 35px;
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;
}

.options-three {
	bottom: 10px;
	left: 105px;
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	border-radius: 25px;
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;

}

.options-four {
	top: 100px;
	left: 90px;
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	border-radius: 25px;
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;

}


.options-five {
	top: 50px;
	right: 60px;
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	border-radius: 25px;
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;

}

/*NOT LOGGED IN DISPLAY*/
.logocircle {
	background-repeat: none;
	height: 250px;
	width: 250px;
	background-position: center;
	border-radius: 125px;
	border: solid 4px white;
	padding-top: 50px;
}

.circles {
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	border-radius: 25px;
}

.one {
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;
	left: 220px;
	bottom: 45px;
}

.two {
	background-color: white;
	border: solid white 3px;
	background-position: center;
	right: 85px;
	background-repeat: no-repeat;
	bottom: 45px;
}

.three {
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;
	right: 10px;
	bottom: 110px;
}
/*NOT LOGGED IN DISPLAY*/

















































/*SIMON SAYS GAME*/
body {
	font-family: Arial, serif;
	color: #333;
	-webkit-user-select: none; /* Chrome/Safari */        
}

ul {
	list-style: none;
}

ul, li {
	padding: 0;
	margin: 0;
}

p[data-action="lose"] {
	display: none;
}

.active {
	opacity: 1 !important;
}

.clearfix {
	width: 100%;
	clear: both;
}

.container {
	width: 300px;
}

.game-board {
	padding-top: 100px;
	padding-bottom: 40px;
}
.simon {
	background: white;
	float: left;
	width: 300px;
	height: 300px;
	-webkit-border-radius: 150px 150px 150px 150px;
}

.tile {
	opacity: 0.6;
	-webkit-transition: opacity 250ms ease;
}

.tile.lit {
	opacity: 1;
}

.red, .blue, .yellow, .green {
	height: 300px;
	-webkit-border-radius: 150px 150px 150px 150px;
	position: absolute;
	text-indent: 10000px;
}

.red:hover, .blue:hover, .yellow:hover, .green:hover {
	border: 2px solid black;
}

.red {
	background: darkgrey;
	clip: rect(0px, 300px, 150px, 150px);
	width: 300px;
}

.blue {
	background: blue;
	clip: rect(0px, 150px, 150px, 0px);
	width: 300px;
}

.yellow {
	background: grey;
	clip: rect(150px, 150px, 300px, 0px);
	width: 300px;
}

.green {
	background: darkblue;
	clip: rect(150px,300px, 300px, 150px);
	width: 300px;
}

.game-info {
	text-align: center;
	padding-top: 40px;
}

.game-info button {
	padding-top: 40px;
	text-align: center;
	width: 5em;
	box-sizing: border-box;
	font-size: 1.4em;
	-webkit-border-radius: 10px 10px 10px 10px;
	background: #6DABE8;
	border: none;
	padding: 0.3em 0.6em;
}

.hoverable:hover {
	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 20px;
	width: 540px;
	clear: both;
	text-align: center;
}
/*SIMON SAYS GAME*/











