html, body {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1200px;
	height: 100%;
	margin-bottom: 0px;
	background-color: rgb(30,30,30);
}

.profile-background {
	background-image: url('//img0.etsystatic.com/000/0/6228198/il_340x270.230898938.jpg');
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.map-container:before, .map-container:after, .map:before, .map:after {
    content: '';
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-webkit-keyframes grow {
	0%	{ transform: scale(0);	}
	40%	{ transform: scale(1);	}
	75%	{ transform: scale(1.1);}
	100%{ transform: scale(1);	}
}

@-webkit-keyframes shrink {
	0%	{ transform: scale(1);	}
	25%	{ transform: scale(1.1);}
	55%	{ transform: scale(1);	}
	100%{ transform: scale(0);	}
}

/*ANIMATIONS*/
.grow {
	-webkit-animation: grow 3s;
}

.growcircles {
	-webkit-animation: grow 1s;
}

.shrink {
	-webkit-animation: shrink 3s;
}

.fadeIn {
	-webkit-animation: fadein 3s;
}

.fadeOut {
	-webkit-animation: fadeout 2s;
}

.hideForm {
	display: none;
}
/*ANIMATIONS*/


/*PHOTO CLASSES*/
.photo-signup {
	background-image: url('//wcdn3.dataknet.com/static/resources/icons/set32/21fbd649.png');
}

.photo-info {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Infobox_info_icon.svg/1024px-Infobox_info_icon.svg.png");
}

.photo-login {
	background-image: url('//cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/login.png');
}

.photo-logo {
	background-image: url('//imgur.com/fLaCFwU.png');
}

.photo-messages {
	background-image: url('//icons.iconarchive.com/icons/xenatt/the-circle/256/App-Messages-icon.png');
}
 
.photo-settings {
	background-image: url('//www.anz.com/resources/5/1/51effbe1-70cb-4203-b8f2-c1555c306d46/4/settings.png?MOD=AJPERES&CACHEID=51effbe1-70cb-4203-b8f2-c1555c306d46/4');
}

.photo-logout {
	background-image: url('//s16.postimg.org/mxe7m0ptx/Head_Profile.png');
}

.photo-user {
	background-image: url('//media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAJ4AAAAJGJjZjVhM2FmLTIyZjUtNGE2ZS1iZWYyLWRiNWU1NzNhNDk1Nw.jpg');
}

.photo-users {
	background-image: url('//cdn4.iconfinder.com/data/icons/silky-icon-user/60/users1-512.png');
}

.photo-nearbys {
	background-image: url('//s8.postimg.org/vqrp6afzp/draft_512.png');
}
/*PHOTO CLASSES*/



/*BACKGROUND SIZE CLASSES*/


.background-size-one {
	background-size: 30px;
}

.background-size-two {
	background-size: 60px;
}

.background-size-three {
	background-size: 50px;
}

.background-size-four {
	background-size: 175px;
	background-repeat: no-repeat;
}

.background-size-logo {
	background-size: 250px;
}
/*BACKGROUND SIZE CLASSES*/


.comments-of-bar {
	max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#info-scroll {
	color: white;
	max-height: 175px;
    overflow-y: auto;
}
.info-maps-bar {
	max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#tabs-bar {
	max-height: 605px;
	overflow-y: auto;
}

.h2 {
	color: blue;
}

#profile {
	box-shadow: 15px 15px 35px 10px black;
}

#bar-profile-name {
	text-align: center;
	font-size: 15px;
	color: grey;
	font-weight: bold;
	margin-bottom: 10px;
}

.user-comments {
	max-height: 200px;
	overflow-y: auto;
}

.info-of-bar {
	max-height: 200px;
	overflow-y: auto;
}

#comment-maps-button {
	margin-top: 10px;
}


#bar-profile-info {
	text-align: center;
	color: grey;
	font-size: 15px;
	font-weight: lighter;
	margin-bottom: 10px;
}
/*LOGGED IN DISPLAY*/

#bar-panel-name {
	text-align: center;
	color: grey;
	font-size: 20px;
}

#comment-profile-button {
	margin-top: 10px;
}

.bar-panel-info {
	text-align: center;
	color: grey;
	font-size: 15px;
	font-weight: lighter;
	margin-bottom: 10px;
}

#comment-maps-input {
	margin-top: 10px;
}

#panel-head-buttons {
	margin-top: 15px;
}

#image-tab {
	height: 150px;
	width: 150px;
	text-align: center;
	background-position: center;
	border-radius: 75px;
}

#marker-panel-image {
	margin-top: 15px;
	margin-bottom: 15px;
}

.nearbyBars {
	color: white;
	font-size: 20px;
}

.navbar {
	background-color: rgb(23,23,23);
	border-color: rgb(23,23,23);
}

.navbar-fixed-bottom {
	background-color: rgb(23,23,23);
	border-color: rgb(23,23,23);
	height: 80px;
}

#logo {
	margin-top: 100px;
}

p {
	color: white;
	text-align: center;
	font-size: 30px;
}

#cross-streets {
	margin-bottom: 10px;
	color: grey;
	text-align: center;
	font-size: 15px;
}
#bar-well-center {
	text-align: center;
	margin-bottom: 10px;
}

#tabs-bar {
	height: 100%;
	background-color: rgb(25,25,25);
	margin: 0px;
}

#remove-top {
	margin-bottom: 0px;
}

#navtabswidth {
	width: 312px;
}

#buttoncomment {
	text-align: center;
}

#commentCollapse {
	margin-top: 10px;
}

#bar-well {
	margin-top: 10px;
	width: 400px;
}

#bar-well-photo {
	text-align: center;
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

#example {
	width: 500px;
	margin-top: 10px;
	color: grey;
	text-align: center;
	font-size: 15px;
}

#bar-location {
	margin-top: 10px;
	box-shadow: 15px 15px 35px 10px black;
}

#centerbutton {
	text-align: center;
	padding-top: 20px;
}

.navbar-text {
	color: grey;
	font-size: 15px;
}


.profilecircle {
	background-repeat: none;
	height: 300px;
	width: 300px;
	background-position: center;
	background-size: 300px;
	border-radius: 150px;
	border: solid 4px white;
	margin-top: 100px;
}

#commentMapsCollapse {
	margin-top: 10px;
}

#map {
	height: 500px;
	width: 500px;
	border-radius: 250px;
	margin-top: 50px;
}

#marker-content {
	color: black;
	font-size: 15px;
	text-align: center;
	padding-left: 15px;
}

#marker-photos {
	height: 100px;
	width: 100px;
	background-position: center;
	padding-bottom: 5px;
	padding-right: 10px;
	border-radius: 50px;
}

#centerthis {
	background-position: center;
	margin-right: 20px;
	margin-bottom: 30px;
}

#marker-profile-photo {
	height: 150px;
	width: 150px;
	border-radius: 75px;
	background-position: center;
	text-align: center;
}

.options-two {
	bottom: 60px;
	left: 100px;
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	border-radius: 25px;
	background-size: 35px;
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;
}

#profile-panel-image {
	margin-bottom: 10px;
}
.options-three {
	bottom: 10px;
	left: 160px;
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	border-radius: 25px;
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;

}


.options-five {
	bottom: 15px;
	right: 125px;
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	border-radius: 25px;
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;

}

.logged-in {
	margin-top: 0;
}
/*NOT LOGGED IN DISPLAY*/
.logocircle {
	background-repeat: none;
	height: 250px;
	width: 250px;
	background-position: center;
	border-radius: 125px;
	border: solid 4px white;
	padding-top: 50px;
}


.circles {
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	border-radius: 25px;
}

.fb-like {
	margin-left: 375px;
	margin-top: 10px;
}

#footone {
	margin-top: 25px;
	margin-right: -115px;
}
#foottwo {
	margin-top: 10px;
}
#footthree {
	margin-top: 25px;
	margin-left: -75px;
}

.one {
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;
	left: 220px;
	bottom: 45px;
}

.two {
	border: solid white 3px;
	background-position: center;
	right: 85px;
	background-repeat: no-repeat;
	bottom: 45px;
}

.three {
	background-position: center;
	background-repeat: no-repeat;
	border: solid white 3px;
	right: 10px;
	bottom: 110px;
}
/*NOT LOGGED IN DISPLAY*/

















































/*SIMON SAYS GAME*/
body {
	font-family: Arial, serif;
	color: #333;
	-webkit-user-select: none; /* Chrome/Safari */        
}

ul {
	list-style: none;
}

ul, li {
	padding: 0;
	margin: 0;
}

p[data-action="lose"] {
	display: none;
}

.active {
	opacity: 1 !important;
}

.clearfix {
	width: 100%;
	clear: both;
}

.container {
	width: 300px;
}

.game-board {
	padding-top: 100px;
	padding-bottom: 40px;
}
.simon {
	background: white;
	float: left;
	width: 300px;
	height: 300px;
	-webkit-border-radius: 150px 150px 150px 150px;
}

.tile {
	opacity: 0.6;
	-webkit-transition: opacity 250ms ease;
}

.tile.lit {
	opacity: 1;
}

.red, .blue, .yellow, .green {
	height: 300px;
	-webkit-border-radius: 150px 150px 150px 150px;
	position: absolute;
	text-indent: 10000px;
}

.red:hover, .blue:hover, .yellow:hover, .green:hover {
	border: 2px solid black;
}

.red {
	background: darkgrey;
	clip: rect(0px, 300px, 150px, 150px);
	width: 300px;
}

.blue {
	background: blue;
	clip: rect(0px, 150px, 150px, 0px);
	width: 300px;
}

.yellow {
	background: grey;
	clip: rect(150px, 150px, 300px, 0px);
	width: 300px;
}

.green {
	background: darkblue;
	clip: rect(150px,300px, 300px, 150px);
	width: 300px;
}

.game-info {
	text-align: center;
	padding-top: 40px;
}

.game-info button {
	padding-top: 40px;
	text-align: center;
	width: 5em;
	box-sizing: border-box;
	font-size: 1.4em;
	-webkit-border-radius: 10px 10px 10px 10px;
	background: #6DABE8;
	border: none;
	padding: 0.3em 0.6em;
}

.hoverable:hover {
	cursor: pointer;
}

#examples {
	text-align: center;
}

footer {
	position: absolute;
	bottom: 20px;
	width: 540px;
	clear: both;
	text-align: center;
}
/*SIMON SAYS GAME*/











